@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap");

body {
  font-family: "Helvetica Neue", "Roboto", sans-serif;
}

form {
  max-width: 500px;
  max-height: 500px;
  margin: 0 auto;
}

#head{
  font-weight: bold;
  color: #26185f;
  padding: 10px 0;
}

.form {
  max-width: 400px;
  margin: 0 auto;
}

p {
  color: #c23434;
}

p::before {
  display: inline;
  content: "⚠️ ";
}

textarea,
input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 8px;
  border: 3px solid rgba(0, 0, 0, 0.048);
  padding: 10px;
  font-size: 10px;
  background: #ececec;
}

label {
  line-height: 2;
  display: block;
  margin-bottom: 9px;
  margin-right: 0px;
  margin-top: 10px;
  color: #271357f5;
  font-size: 16px;
  font-weight: 500;
}

button[type="submit"],
input[type="submit"] {
  background: #e75a59;
  color: white;
  border: none;
  margin-top: 30px;
  padding: 10px;
  font-size: 15px;
  font-weight: 700;
}

button[type="submit"]:hover,
input[type="submit"]:hover {
  cursor: pointer;
  background: #ca3d3d;
  box-shadow: 5px 5px 5px 0px #ca3d3d3a;
  transition: 0.2s all;
}

button[type="submit"]:active,
input[type="button"]:active,
input[type="submit"]:active {
  transform: translateY(2px);
  background: #a02626;
  transition: 0.2s all;
}

input:disabled {
  opacity: 0.4;
}

select {
  display: block;
  width: 30%;
  font-size: 16px;
}

